<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.results.com/favicon.ico">
    <title>Senior Front End Developer Test</title>

    <link rel="stylesheet" href="style.css">

  </head>

  <body class="ng-cloak" ng-app="app" ng-controller="tileController">

    <div class="container" html-sortable="sortable_option" ng-model="tiles">
      <div class="tile" ng-repeat="tile in tiles">
        {{tile}}
      </div>
    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/html5-sortable-angularjs/lib/html5-sortable.js"></script>
    <script src="node_modules/mobile-drag-drop/index.min.js"></script>
    <script src="node_modules/mobile-drag-drop/scroll-behaviour.min.js"></script>
    <script>
      // options are optional ;)
      MobileDragDrop.polyfill({
        // use this to make use of the scroll behaviour
        dragImageTranslateOverride: MobileDragDrop.scrollBehaviourDragImageTranslateOverride
      });
    </script>
    <script src="app.js"></script>

  </body>
</html>
